; The group name in square brackets is used as login name, 'user_name' will consequently be used as display name
; Roles: Author/Editor/Administrator

[eva]
user_name = eva
first_name = Eva
last_name = Musterfrau
email = eva.musterfrau@test.com
password = evapasswort
salutation = Frau
role = Administrator

[adam]
user_name = adam
first_name = Adam
last_name = Mustermann
email = adam.mustermann@test.com
password = adampasswort
salutation = Herr
role = Editor

[heinz]
user_name = heinz
first_name = Heinz
last_name = Musterperson
email = heinz.musterperson@test.com
password = heinzpasswort
salutation = Herr
role = Author