$teal : #009688;
$teal-lighten-1 : #26a69a;
$teal-lighten-3 : #80cbc4 ;
$teal-lighten-4 : #b2dfdb ;
$teal-lighten-5 : #e0f2f1 ;


$blue-grey : #607d8b ;
$blue-grey-lighten-4 : #cfd8dc;
$blue-grey-lighten-5 : #eceff1;

$grey-lighten-1 : #bdbdbd;
$grey-lighten-2 : #e0e0e0;
$grey-lighten-3 : #eeeeee;
$grey-lighten-5 : #fafafa;

$w: #ffffff;
$b: #000000;